body {
  direction: rtl;
  font-family: 'Lalezar', cursive !important;
  list-style: none !important;
  outline: none;
  margin: 0;
  background-color: bisque !important;
}

textarea {
  height: 120px !important;
  resize: none !important;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid rgb(63, 240, 142) !important;
}

.form-control:focus {
  box-shadow: none !important;
}